@(currentPage: com.avaje.ebean.Page[Closure], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

var sortBy = currentSortBy
var order = currentOrder

if(newSortBy != null) {
sortBy = newSortBy
if(currentSortBy == newSortBy) {
if(currentOrder == "asc") {
order = "desc"
} else {
order = "asc"
}
} else {
order = "asc"
}
}

// Generate the link
routes.ClosureCont.listClosures(newPage, sortBy, order, currentFilter)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
<th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
<a href="@link(0, key)">@title</a>
</th>
}

@main {

    <h1 id="homeTitle">Cierres Mensuales</h1>

    @if(flash.containsKey("success")) {
    <div class="alert-message warning">
        <strong>Hecho!</strong> @flash.get("success")
    </div>
    }

    <div id="actions">

        <form class="form-search" action="@link(0, "description")" method="GET">
        <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por nombre de cuenta...">
        <input type="submit" id="searchsubmit" value="Filtrar por nombre de cuenta" class="btn btn-primary">
        </form>

        <!--a class="btn btn-success" id="add" href="@routes.MovementCont.createPayment()">Agregar Movimiento</a-->

    </div>

    @if(currentPage.getTotalRowCount == 0) {

    <div class="well">
        <em>No hay cierres mensuales</em>
    </div>

    } else {

        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                @header("date", "Fecha")
                @header("amount", "Monto")
                @header("account", "Cuenta")
            </tr>
            </thead>
            <tbody>

            @for(closure <- currentPage.getList) {
            <tr>
                <td><!--a href="@routes.MovementCont.editMovement(closure.id)">@closure.date</a-->@closure.date.format("dd MMM")</td>
                <td>
                    @if(closure.amount == null) {
                    <em>-</em>
                    } else {
                    @closure.amount
                    }
                </td>
                <td>
                    @if(closure.account == null) {
                    <em>-</em>
                    } else {
                    @closure.account.name [@closure.account.number]
                    }
                </td>
            </tr>
            }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                <li class="prev">
                    <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Anterior</a>
                </li>
                } else {
                <li class="prev disabled">
                    <a>&larr; Anterior</a>
                </li>
                }
                <li class="current">
                    <a>Mostrando desde @currentPage.getDisplayXtoYofZ(" a "," de un total de ")</a>
                </li>
                @if(currentPage.hasNext) {
                <li class="next">
                    <a href="@link(currentPage.getPageIndex + 1, null)">Sigiente &rarr;</a>
                </li>
                } else {
                <li class="next disabled">
                    <a>Sigiente &rarr;</a>
                </li>
                }
            </ul>
        </div>
    }

}

            