@(currentPage: com.avaje.ebean.Page[Movement], currentSortBy: String, currentOrder: String, currentFilter: String, accountId: Long)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

var sortBy = currentSortBy
var order = currentOrder

if(newSortBy != null) {
sortBy = newSortBy
if(currentSortBy == newSortBy) {
if(currentOrder == "asc") {
order = "desc"
} else {
order = "asc"
}
} else {
order = "asc"
}
}

// Generate the link
routes.MovementCont.listMovements(newPage, sortBy, order, currentFilter)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
<th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
<a href="@link(0, key)">@title</a>
</th>
}

@main {

    <h1 id="homeTitle">Movimentos</h1>

	@if(accountId != 0) {
        <!--div id="movAlert" class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Filtrando por cuenta: </strong> @accountId
        </div>
        <script>
        $('#movAlert').bind('closed', function () {
            routes.MovementCont.listMovements(newPage, sortBy, order, currentFilter, 0)
        })
        </script-->
	}
	
    @if(flash.containsKey("success")) {
    <div class="alert-message warning">
        <strong>Hecho!</strong> @flash.get("success")
    </div>
    }
	
	
	
    <div id="actions">

        <form class="form-search" action="@link(0, "description")" method="GET">
        <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por concepto...">
        <input type="submit" id="searchsubmit" value="Filtrar por concepto" class="btn btn-primary">
        </form>

        <a class="btn btn-success" id="add" href="@routes.MovementCont.createPayment()">Agregar Movimiento</a>

    </div>

    @if(currentPage.getTotalRowCount == 0) {

    <div class="well">
        <em>No hay movimientos</em>
    </div>

    } else {

        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                @header("description", "Concepto")
                @header("category", "Category")
                @header("ptype", "Tipo")
                @header("amount", "Monto")
                @header("date", "Fecha")
                @header("account", "Cuenta")
            </tr>
            </thead>
            <tbody>

            @for(movement <- currentPage.getList) {
            <tr>
                <td><a href="@routes.MovementCont.editMovement(movement.id)">@movement.description</a></td>
                <td>
                    @if(movement.category == null) {
                    <em>-</em>
                    } else {
                    @movement.category.name
                    }
                </td>
                <td>
                    @if(movement.ptype == null) {
                    <em>-</em>
                    } else {
                    @movement.ptype
                    }
                </td>
                <td>
                    @if(movement.amount == null) {
                    <em>-</em>
                    } else {
                    @movement.amount
                    }
                </td>
                <td>
                    @if(movement.date == null) {
                    <em>-</em>
                    } else {
                    @movement.date.format("dd MMM yyyy")
                    }
                </td>
                <td>
                    @if(movement.account == null) {
                    <em>-</em>
                    } else {
                    @movement.account.name [@movement.account.number]
                    }
                </td>
            </tr>
            }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                <li class="prev">
                    <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Anterior</a>
                </li>
                } else {
                <li class="prev disabled">
                    <a>&larr; Anterior</a>
                </li>
                }
                <li class="current">
                    <a>Mostrando desde @currentPage.getDisplayXtoYofZ(" a "," de un total de ")</a>
                </li>
                @if(currentPage.hasNext) {
                <li class="next">
                    <a href="@link(currentPage.getPageIndex + 1, null)">Sigiente &rarr;</a>
                </li>
                } else {
                <li class="next disabled">
                    <a>Sigiente &rarr;</a>
                </li>
                }
            </ul>
        </div>
    }

}

            