@(currentPage: com.avaje.ebean.Page[CardAccount], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

var sortBy = currentSortBy
var order = currentOrder

if(newSortBy != null) {
sortBy = newSortBy
if(currentSortBy == newSortBy) {
if(currentOrder == "asc") {
order = "desc"
} else {
order = "asc"
}
} else {
order = "asc"
}
}

// Generate the link
routes.Account.listCards(newPage, sortBy, order, currentFilter)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
<th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
<a href="@link(0, key)">@title</a>
</th>
}

@main {

    <h1 id="homeTitle">Tarjetas</h1>

    @if(flash.containsKey("success")) {
    <div class="alert-message warning">
        <strong>Hecho!</strong> @flash.get("success")
    </div>
    }

	<form class="form-search" action="@link(0, "name")" method="GET">
        <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por nombre de tarjeta ...">
        <input type="submit" id="searchsubmit" value="Filtrar por nombre" class="btn btn-primary">
    </form>
	
	<a class="btn btn-success" id="add" href="@routes.Account.createCard()">Agregar Tarjeta</a>

    <!--div id="actions">

        <form action="@link(0, "name")" method="GET">
        <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por nombre de tarjeta...">
        <input type="submit" id="searchsubmit" value="Filtrar por nombre" class="btn btn-primary">
        </form>

        <a class="btn btn-success" id="add" href="@routes.Account.createCard()">Agregar Tarjeta</a>

    </div-->

    @if(currentPage.getTotalRowCount == 0) {

    <div class="well">
        <em>No hay tarjetas</em>
    </div>

    } else {

        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                @header("name", "Nombre")
                @header("number", "Numero")
                @header("since", "Desde")
                @header("through", "Hasta")
                @header("closeWeekNumber", "Numero de samana de cierre")
                @header("closeWeekday", "Dia de la semana de cierre")
                @header("payDay", "Dia de Cobro")
                <th>Accion</th>
            </tr>
            </thead>
            <tbody>

            @for(card <- currentPage.getList) {
            <tr>
                <td><a href="@routes.Account.editCard(card.id)">@card.name</a></td>
                <td>
                    @if(card.number == null) {
                    <em>-</em>
                    } else {
                    @card.number
                    }
                </td>
                <td>
                    @if(card.since == null) {
                    <em>-</em>
                    } else {
                    @card.since.format("dd MMM yyyy")
                    }
                </td>
                <td>
                    @if(card.through == null) {
                    <em>-</em>
                    } else {
                    @card.through.format("dd MMM yyyy")
                    }
                </td>
                <td>
                    @if(card.closeWeekNumber == null) {
                    <em>-</em>
                    } else {
                    @card.closeWeekNumber
                    }
                </td>
                <td>
                    @if(card.closeWeekday == null) {
                    <em>-</em>
                    } else {
                    @card.closeWeekday
                    }
                </td>
                <td>
                    @if(card.payDay == null) {
                    <em>-</em>
                    } else {
                    @card.payDay
                    }
                </td>
                <td><a href="@routes.MovementCont.listMovements(0,"description","asc","",card.id)">Ver Movimientos</a></td>
            </tr>
            }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                <li class="prev">
                    <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Anterior</a>
                </li>
                } else {
                <li class="prev disabled">
                    <a>&larr; Anterior</a>
                </li>
                }
                <li class="current">
                    <a>Mostrando desde @currentPage.getDisplayXtoYofZ(" a "," de un total de ")</a>
                </li>
                @if(currentPage.hasNext) {
                <li class="next">
                    <a href="@link(currentPage.getPageIndex + 1, null)">Sigiente &rarr;</a>
                </li>
                } else {
                <li class="next disabled">
                    <a>Sigiente &rarr;</a>
                </li>
                }
            </ul>
        </div>
    }

}

            